.descrip{
    border: 1px black solid;
    width: auto;
    height: auto;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.imagenes{
    width: 50%;
    height: auto;
    text-align: center;
}

.texto{
    width: 50%;
    text-align: start;
    margin-top: 9%;
}